TRANSCRIPTION_API_URL="http://localhost:9000"
QDRANT_URL="http://127.0.0.1:6333"
MCP_USE_ANONYMIZED_TELEMETRY=false


API_KEY="YOUR_API_KEY_HERE"
MODEL="deepseek-chat"
BASE_URL="https://api.deepseek.com"

TELEGRAM_TOKEN="YOUR_TELEGRAM_TOKEN_HERE"
